<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <title>Ejercicios Angular</title>
</head>

<body>
  <h1>{{ title }}</h1>
  <input type="text" [(ngModel)]="textoInput" />
  <p>{{ textoInput }}</p>
  <input type="button" value="Pulsame" (click)="mostrarTexto()">
  <p>{{ textoBotonPulsado }}</p>
  <hr />
  <p *ngIf="botonPulsado">Estoy oculto</p>
  <input type="text" [(ngModel)]="tarea">
  <input type="button" value="Añadir" (click)="addTarea()">
  <ul>
    <li *ngFor="let tarea of listaTareas">{{ tarea }}</li>
  </ul>
</body>

</html>
